@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Leaflet panes should stay below navbar (assuming navbar z-index: 50) */
.leaflet-container {
  z-index: 0;
}

.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane {
  z-index: 0 !important;
}
